.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px); /* rows / columns */
}

.grid-item {
    border: 5px solid blueviolet;
    font-size: 30px;
    text-align: center;
}